@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@import './css/drawer.css';
@import './css/fuse-helpers.css';
@import '~antd/dist/antd.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif !important;
}

.cell-wrap-text {
    white-space: normal !important;
}

.m-r-10 {
    margin-right: 10px;
}

.dialog {
    z-index: 1 !important;
}
.studentmanage-dialogcontent{
    padding: 0px !important;
}

button:focus{
    outline: 0px !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}

.btn-link{
    font-weight: lighter !important;
}

.ag-cell-focus{
    border:none !important;
}


.demo-infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 550px;
    /* min-width: 350px; */
  }

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
}

.tableHeader {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    border: 0;
    display: flex;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    font-size: .875rem;
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-bottom: 30px;
    border-radius: 6px;
    flex-direction: column;
}

.tableGrid.tableGrid1:not(.jss374) {
    padding: 15px;
    margin-top: -45px;
    border-radius: 3px;
}

.tableGrid1:not(.jss374) {
    background:  #3f51b5;
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.tableGrid.tableGrid1 {
    color: #FFFFFF;
    margin: 0 15px;
    padding: 0;
    position: relative;
}

.tableGrid {
    display: flex;
    padding: 0.75rem 1.25rem;
    z-index: 3 !important;
    background: transparent;
    margin-bottom: 0;
    border-bottom: none;
}

.table {
    color: #FFFFFF;
    font: 700 15px/28px "Lato", sans-serif;
    text-transform: uppercase;
    min-height: auto;
    margin-bottom: 3px;
    text-decoration: none;
    margin: 10px 0px 0px 20px;
}

.jss265 {
    color: rgba(255,255,255,.62);
    margin: 0;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.cursor_pointer{
    cursor: pointer;
}

.card-table.card-table1:not(.jss374) {
    /* padding: 5px; */
    margin-top: -36px;
    margin-left: 100px;
    border-radius: 3px;
}

.card-table.card-table1 {
    color: #FFFFFF;
    /* margin: 0px -4px; */
    padding: 0;
    /* position: relative; */
}

.card-table1:not(.jss374) {
    background:  #3f51b5;
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.cardSubText {
    font-size: 30px !important;
    text-align:left;
}

.containerPadding{
    padding: 0px 10px 0px 10px;
    width: 100%;
}

.smallCardContainer {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
    margin: 0;
    box-sizing: border-box;
    padding: 0 15px !important;
}

.cardInnerLayout {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    border: 0;
    display: flex;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    font-size: .875rem;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    flex-direction: column;
}

.cardBody.cardBody2, .cardBody.cardBody1, .cardBody.cardBody3 {
    color: #FFFFFF;
    margin: 0 15px;
    padding: 0;
    position: relative;
}

.cardBody {
    padding: 0.75rem 1.25rem;
    z-index: 3 !important;
    background: transparent;
    margin-bottom: 0;
    border-bottom: none;
}

.cardTitle {
    float: right;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    border-radius: 3px;
    font: 700 15px/28px "Lato", sans-serif;
    text-transform: uppercase;
    background: #3f51b5;
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.cardNumber {
    color: #3C4858;
    margin-top: 0px;
    min-height: auto;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 3px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 40px;
    text-align: left;
}

.cardFooter {
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 0;
    justify-content: space-between;
    background-color: transparent;
    border-top: 1px solid #eee;
    margin: 0 auto;
}

.cardFooterBody {
    color: #000;
    display: inline-flex;
    font-size: 12px;
}

.cardWidth{
    width: 100%;
}

